<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ConnectonString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=localDB;Integrated Security=True" />
  </connectionStrings>
  
  <applicationSettings>
    <WindowsFormsApp.Properties.Settings>
      <setting name="RealtyMultiplier" serializeAs="String">
        <value>30.3</value>
      </setting>
      <setting name="MaterialStatusMultiplier" serializeAs="String">
        <value>10.5</value>
      </setting>
      <setting name="CarMultiplier" serializeAs="String">
        <value>25.6</value>
      </setting>
      <setting name="GenderMultiplier" serializeAs="String">
        <value>25.98</value>
      </setting>
    </WindowsFormsApp.Properties.Settings>
  </applicationSettings>
</configuration>